/* color theme
HEX
#
#f1f1f1 - secondary white
#68c02f - fade color 2
#bfff96 - fade color
#6eee21 - main font
#ffffff - white
#2a2a2a - bg
*/


body {
	background-color: #0B0B0B;
	margin: 0px;
}

#header1 {
	font-family: Courier;
	font-size: 100px;
	color: #6eee21;
	text-align: center;
	height: 500px;
	text-shadow: 5px 5px #bfff96;
}
#chat {
	font-family: Courier;
	color: #68c02f;
	font-size: 40px;
	text-shadow: 2px 2px #68c02f;
}

#chat-container {
	height: 250px;
	margin: 0px 0px 0px 0px;
}

#stats-container {
	height: 250px;
	margin: 0px 0px 0px 0px;
}

#feed-container {
	height: 250px;
	margin: 0px 0px 0px 0px;
}
#curViews {
	font-size: 50px;
	color: #5be8f0;
	width: 100%;
	text-align: center;
}
.viewerCt {
	width: 100%;
	font-size: 30px;
	color: #5be8f0;
	text-align: center;
}

#resultHeader {
	width: 50%;
	text-align: center;
	color: #faff61;
	font-size: 40px;
}





