/* color theme
HEX
#
#f1f1f1 - secondary white
#68c02f - fade color 2
#bfff96 - fade color
#6eee21 - main font
#ffffff - white
#2a2a2a - bg
*/


body {
	background-color: #000000;
	margin: 0px;
}

#header1 {
	font-family: Courier;
	font-size: 100px;
	color: #6eee21;
	text-align: center;
	height: 500px;
	text-shadow: 5px 5px #bfff96;
}

.resultBox {
	margin: 0px 0px 0px 0px;
	font-size: 70px;
	color: #ff0000;
	text-shadow: 0px 0px;
}

#chat {
	list-style-type: none;
	font-family: Courier;
	color: #68c02f;
	font-size: 40px;
	text-shadow: 2px 2px #68c02f;
}

.anon {
	margin-left: 5px;
	font-family: Courier;
	color: #8af542;
	font-size: 35px;
	text-shadow: none;
}
.anonmarked {
	color: #8af542;
	background-color: #fffbc4;
}

.MOD {
	margin-left: 5px;
	font-family: Courier;
	color: #ff7a33;
	font-size: 35px;
	text-shadow: none;
}
.MODmarked {
	color: #ff2626;
	background-color: #73f1ff;
}

#chat-container {
	height: 480px;
	margin: 0px 0px 0px 0px;
}

#stats-container {
	height: 480px;
	margin: 0px 0px 0px 0px;
}

#feed-container {
	height: 480px;
	margin: 0px 0px 0px 0px;
}
#curViews {
	font-size: 50px;
	color: #5be8f0;
	width: 100%;
	text-align: center;
}
.viewerCt {
	width: 100%;
	font-size: 30px;
	color: #5be8f0;
	text-align: center;
}

#resultHeader {
	width: 50%;
	text-align: center;
	color: #faff61;
	font-size: 40px;
}

.stalkerBox {
	height: 570px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.streamStats {
	width: 100%;
	color: #00eeff;
	font-size: 30px;
	text-align: center;
	font-family: Courier;
}

.feedMessage {
	list-style-type: none;
	font-size: 30px;
	font-family: Courier;
}
#donationCtr {
	margin-bottom: 0px;
	color: #99ffbd;
	text-align: center;
	font-size: 30px;
	font-family: Courier;
}
#donationMsg {
	margin-bottom: 0px;
	color: #96c3ff;
	text-align: center;
	font-size: 20px;
	font-family: Courier;
}

.event1 {
	color: #ffffff;
}
.event2 {
	color: #acffa3;
}
.event3 {
	color: #ffecc4;
}
.event4 {
	color: #ffe2a6;
}
.event5 {
	color: #c9a3ff;
}
.event6 {
	color: #ffc95c;
}
.event7 {
	color: #ffd15e;
}
.event8 {
	color: #c9a3ff;
}
.event9 {
	color: #c9a3ff;
}
.event10 {
	color: #c9a3ff;
}
.event11 {
	color: #d47b00;
}
.event12 {
	color: #d47b00;
}
.event13 {
	color: #26ff47;
}
.event14 {
	color: #ff1414;
}
.event15 {
	color: #ffecc4;
}



